/* body{
    padding-top: 60px;
} */
/*carrito*/
/*.fa-trash-alt{
    color: #60686f;
    font-size: large;
}*/

/*.fa-shopping-cart{
    color: #349793;
    font-size: medium;
    text-align: center;
    margin-top: 0.5em;
}*/
/* .navbar{
    margin-bottom: 60px;
} */
.carrito{
    color: blanchedalmond;
}

/* .card-product{
    min-height: 500px;

} */

.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
 }
 @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
 }
.fa-check-circle{
    color: lightseagreen;
    font-size: xx-large;
}
.fa-times{
    color: red;
   /* font-size: xx-large;*/
}

.fa-exclamation-circle{
    font-size: 50px;
}

/*buscador*/
.container .search{
    margin-top: 50px;
    padding: 0px;
    border-radius: 3px;
    border: #dcdcdd 1px solid;
}

.boton{
    background: #349793;
}
.table-cart{
    font-size: 10px;
}

/* .btn-actualizar{
    width: 5px !important;
    height: 5px;




} */

.alinear{
    display: flex;

    align-content: center;
}


/*finish webpay*/
.aprobado{
    color: green;
}
.fallido{
    color: red;
    font-size: 50px;
}



